/* цвет основного шрифта #212121 */
/* цвет вторичного шрифта #757575 */
/* цвет фона #E5E5E5; */
/* вторичный цвет фона #F5F4FA */
:root{
  --hero-text-color:#FFFFFF;
  --primary-text-color:#212121;
  --secondary-text-color:#757575;
  --footer-bgc:#2F303A;
  --footer-text-color:#ffffff;
  --accent-color:#2196F3;
  --button-color:#212121;
  --button-bgc-color:#F5F4FA;
  --accent-button:#FFFFFF;
  --accent-bgc-button:#2196F3;

}

ul {
  list-style: none;
}
/* Logo style */
.web-logo {
  color: #2196f3;
}
.studio-logo {
  color: #000000;
}

/* Nav style */
.site-nav .list {
  color: #212121;
}
.site-nav .list:hover,.site-nav .list:focus{
  color: var(--accent-color);
}
/* Contacts style  */
.contacts-box .list {
  color: #757575;
}
.contacts-box .list:hover,.contacts-box .list:focus{
   color: var(--accent-color);
}
/* section style */
.section-title{
  color: var(--primary-text-color);
}
.hero-title{
  color: var(--hero-text-color);
}
/* Когда будет картинка заменить на нее */
.hero-section{
  background-color: var(--footer-bgc);
}
.section-text{
color:var(--secondary-text-color)
}
/* buttons */
.portfolio-button{
color:var(--button-color);
background-color: var(--button-bgc-color);
}
.portfolio-button:hover, .portfolio-button:focus{
  color:var(--accent-button);
  background-color: var(--accent-bgc-button);
}
/* Footer style */
footer{
  background-color: var(--footer-bgc);
}
address{
color:var(--footer-text-color)
}
.studio-footerlogo{
color:var(--footer-text-color)
}